$bg-light: #f3f4f6;
$bg-white: #ffffff;

$dark: #1c1c1c;
$navy: #10162f;

$fw-bold: bolder;

$bg-light-blue: #d3f2ff;
$bg-light-green: #eafdc6;

$lightgray: #e6e3e3;

$darkred: #db606cde;
$darkpale: #323442;

$bg-darkblue: #0e374e;
$bg-blue-100: #eef1f3;
